<div
  class="product-badges product-badges--{{ settings.badge_position }}"
  style="
    --badge-border-radius: {{ settings.badge_corner_radius }}px;
    --badge-font-family: var(--font-{{ settings.badge_font_family }}--family);
    --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight);
    --badge-text-transform: {{ settings.badge_text_transform }};
  "
>
  {%- if product.available and product.compare_at_price_max and product.compare_at_price_max > product.price -%}
    {%- assign price_diff = product.compare_at_price_max | minus: product.price -%}
    {%- assign discount = price_diff | divided_by: product.compare_at_price_max | times: 100 -%}
    {%- if discount > 0 -%}
      <div
        class="
          product-badges__badge product-badges__badge--rectangle
          color-{{ settings.badge_sale_color_scheme }}
        "
      >
        {{ discount | round }}% Off
      </div>
    {%- endif -%}
  {%- endif -%}
</div>
