<div
  class="product-badges product-badges--{{ settings.badge_position }}"
  style="
    --badge-border-radius: {{ settings.badge_corner_radius }}px;
    --badge-font-family: var(--font-{{ settings.badge_font_family }}--family);
    --badge-font-weight: var(--font-{{ settings.badge_font_family }}--weight);
    --badge-text-transform: {{ settings.badge_text_transform }};
  "
>
  {%- assign show_badge = false -%}
  {%- assign badge_text = '' -%}

  {%- if product.available == false -%}
    {%- assign show_badge = true -%}
    {%- assign badge_text = 'content.product_badge_sold_out' | t -%}
  {%- elsif product.compare_at_price and product.compare_at_price > product.price -%}
    {%- assign price_diff = product.compare_at_price | minus: product.price -%}
    {%- assign discount = price_diff | divided_by: product.compare_at_price | times: 100 -%}
    {%- if discount > 0 -%}
      {%- assign show_badge = true -%}
      {%- assign badge_text = discount | round | append: '% Off' -%}
    {%- endif -%}
  {%- endif -%}

  {%- if show_badge -%}
    <div
      class="
        product-badges__badge product-badges__badge--rectangle
        {% if product.available == false %}
          color-{{ settings.badge_sold_out_color_scheme }}
        {% else %}
          color-{{ settings.badge_sale_color_scheme }}
        {% endif %}
      "
    >
      {{ badge_text }}
    </div>
  {%- endif -%}
</div>
