<!doctype html>
<html
  class="no-js{% if request.design_mode %} shopify-design-mode{% endif %}"
  lang="{{ request.locale.iso_code }}"
>
  <head>
    {%- render 'stylesheets' -%}

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% comment %} This a way to wait for main content to load when navigating to a new page so that the view transitions can work consistently {% endcomment %}
    <link
      rel="expect"
      href="#MainContent"
      blocking="render"
      id="view-transition-render-blocker"
    >

    {%- render 'meta-tags' -%}
    {%- render 'fonts' -%}
    {%- render 'scripts' -%}
    {%- render 'theme-styles-variables' -%}
    {%- render 'color-schemes' -%}

    {% if request.design_mode %}
      {%- render 'theme-editor' -%}
    {% endif %}

    {{ content_for_header }}


    {% render 'hr-datalayer-head' %}
  </head>

  <body class="page-width-{{ settings.page_width }} card-hover-effect-{{ settings.card_hover_effect }}">
    {% render 'skip-to-content-link', href: '#MainContent', text: 'accessibility.skip_to_text' %}
    <div id="header-group">
      {% sections 'header-group' %}
    </div>

    <script
      src="{{ 'critical.js' | asset_url }}"
      type="module"
      async
      blocking="render"
    ></script>

    <main
      id="MainContent"
      class="content-for-layout"
      role="main"
      data-page-transition-enabled="{{ settings.page_transition_enabled }}"
      data-product-transition="{{ settings.transition_to_main_product }}"
      data-template="{{ template }}"
    >
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% render 'search-modal' %}

    {% if settings.quick_add or settings.mobile_quick_add %}
      {% render 'quick-add-modal' %}
    {% endif %}

    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: "JVRT8B",
          platform: "shopify"
        });
        klaviyo.enable("backinstock",{ 
        trigger: {
          product_page_text: "Notify Me When Available",
          product_page_class: "button",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
          headline: "{product_name}",
          body_content: "Register to receive a notification when this item comes back in stock.",
          email_field_label: "Email",
          button_label: "Notify me when available",
          subscription_success_label: "You're in! We'll let you know when it's back.",
          footer_content: '',
          additional_styles: "@font-face{font-family:font-futura;src:url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff?v=127206552011244003741755888863);src:url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff2?v=38308373431299806521755888864) format('woff2'),url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff?v=127206552011244003741755888863) format('woff');font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:font-futura;src:url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff?v=127206552011244003741755888863);src:url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff2?v=38308373431299806521755888864) format('woff2'),url(//www.voidwatches.com/cdn/shop/t/5/assets/font-FuturaMedium.woff?v=127206552011244003741755888863) format('woff');font-weight:700;font-style:normal;font-display:swap}; font-family: 'font-futura'",
          drop_background_color: "#000",
          background_color: "#fff",
          text_color: "#222",
          button_text_color: "#fff",
          button_background_color: "#000",
          close_button_color: "#ccc",
          error_background_color: "#fcd6d7",
          error_text_color: "#C72E2F",
          success_background_color: "#d3efcd",
          success_text_color: "#1B9500"
        }
      });
    </script>

    {%- unless product.tags contains 'BIS' -%}
      <style>
        .klaviyo-bis-trigger { display: none !important; }
      </style>
    {%- endunless -%}

    {% render 'hr-datalayer-body' %}
  </body>
</html>
